@using MudBlazor
@* <div class="top-row ps-3 navbar navbar-dark"> *@
@*     <div class="container-fluid"> *@
@*         <a class="navbar-brand" href="">DungeonHub.Client</a> *@
@*     </div> *@
@* </div> *@
@* *@
@* <input type="checkbox" title="Navigation menu" class="navbar-toggler"/> *@
@* *@
@* <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()"> *@
@*     <nav class="flex-column"> *@
@*         <div class="nav-item px-3"> *@
@*             <NavLink class="nav-link" href="" Match="NavLinkMatch.All"> *@
@*                 <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home *@
@*             </NavLink> *@
@*         </div> *@
@* *@
@*         <div class="nav-item px-3"> *@
@*             <NavLink class="nav-link" href="monsters"> *@
@*                 <span class="bi bi-monsters" aria-hidden="true"></span> Monsters *@
@*             </NavLink> *@
@*         </div> *@
@* *@
@*         $1$ <div class="nav-item px-3"> #1# *@
@*         $1$     <NavLink class="nav-link" href="counter"> #1# *@
@*         $1$         <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter #1# *@
@*         $1$     </NavLink> #1# *@
@*         $1$ </div> #1# *@
@*     </nav> *@
@* </div> *@

<MudPaper Width="250px" Elevation="0" Style="background-color: #cbac3b">
    <div>
        <MudText Typo="Typo.h6" Class="px-4">DungeonHub</MudText>
        <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">A D&D Companion</MudText>
    </div>
    <MudDivider Class="my-2"/>
    <MudNavMenu Rounded="true" Margin="Margin.Dense" Color="Color.Primary" Class="pa-2">
        <MudNavLink Href="/dashboard" Icon="@Icons.Material.Filled.Dashboard">Dashboard</MudNavLink>
        <MudNavLink Match="NavLinkMatch.Prefix" Href="/components/navmenu" Icon="@Icons.Material.Filled.Storage">Servers</MudNavLink>
        <MudNavLink Href="/thelab" Icon="@Icons.Material.Filled.Science">The Lab</MudNavLink>
    </MudNavMenu>
</MudPaper>