@using MudBlazor

<MudPaper Width="250px" Elevation="0" Style="background-color: #c5e8ef">
    <div>
        <MudText Typo="Typo.h6" Class="px-4" Style="text-align: center;">DungeonHub</MudText>
        <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary" Style="text-align: center;">A D&D Companion</MudText>
    </div>
    <MudDivider Class="my-2"/>
    <MudNavMenu Rounded="true" Margin="Margin.Dense" Color="Color.Primary" Class="pa-2">
        <MudNavLink Href="/" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
        <MudNavLink Href="/monsters" >Monsters</MudNavLink>
    </MudNavMenu>
</MudPaper>